html, body {
    height: 100%;
    cursor: url('images/cursor.png'), auto;
    background-color: #2990C5;
    }

#container {
	padding-top: 100px;
	width: 750px;
	position: absolute;
	left: 250px;
	top: 50px;
}

#boy{
	position: absolute;
	right: 0px;
	bottom:-80px;
}

#girl{
	position: absolute;
	bottom: 50px;
	left: 0px;
}

#logo	{
	top: 0px;
	position: absolute;
	left: 250px;
	top: 0px;
}

table {
	float: left;
	background-color: #2788B9;
}

td {
	width: 100px;
	height: 100px;
	background-color: #2788B9;
}

.empty {
	background-image: url('images/empty.png');
	background-repeat: no-repeat;
	background-size: cover;
}


.red {
	background-image: url('images/red.png');
	background-repeat: no-repeat;
}


.yellow {
	background-image: url('images/yellow.png');
	background-repeat: no-repeat;
}

